nav{
    font-family: georgia;
    font-size:20px;
    text-align:center;
    position: fixed;
    top:0px;
    z-index:100;
    left:0px;
}
#menu div{
    float:left;
    padding:20px;
    width:140px;
    height:30px;
    background-color:#FBFBFB;
    color:#000;
    text-decoration:none;
}
#menubg{ /*menubar bg*/
    background-color:#FBFBFB;
    position:absolute;
    top:0px;
    width:100%;
    left:0px;
    height:70px;
}
#menu img{ /*menu logo image*/
    height:70px;
    width:180px;
    position:fixed;
    top:0px;
    left:0px;
}
#menu div:hover{
    color:#FFFFFF;
    background-color:#E0E0E0;
    transition-duration: 0.7s;

}
.vegas-slide{
    height:600px;
}
.vegas-timer-progress{
    display:none;
}
#welcomeText{
    position:relative;
    z-index:200;
    top:200px;
    left:25%;
    width:700px;
    font-size:35px;
    color:#FBFBF0;
    font-family:Arial;
    
}
.examples{
    display:none;
}