/************MENU*********/
nav{
    font-family: georgia;
    font-size:20px;
    text-align:center;
    position: fixed;
    top:0px;
    z-index:100;
    left:0px;
}
#menu div{
    float:left;
    padding:20px;
    width:140px;
    height:30px;
    background-color:#FBFBFB;
    color:#000;
    text-decoration:none;
}
#menu{
    z-index:501;
}
#menubg{ /*menubar bg*/
    background-color:#FBFBFB;
    position:fixed;
    top:0px;
    width:100%;
    left:0px;
    height:70px;
    z-index:500;
}
#menu img{ /*menu logo image*/
    height:70px;
    width:180px;
    position:fixed;
    top:0px;
    left:0px;
}

#menu div:hover{
    color:#FFFFFF;
    background-color:#E0E0E0;
    transition-duration: 0.7s;
}


/*******Image slides*******/
.vegas-slide{
    height:600px;
}
.vegas-timer-progress{
    display:none;
}
/*******Text on image slides*******/
.welcomeText{
    position:relative;
    z-index:200;
    top:160px;
    left:25%;
    width:700px;
    font-size:35px;
    color:#FBFBF0;
    font-family:Arial;
    text-shadow:2px 2px 10px grey;    
}


.examples{ /*website examples*/
    display:none;
}


/*******Front page self intro*******/
#quickIntro{
    position:absolute;
    top:500px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#555757+0,000000+49,383736+100,050505+100&amp;0.02+6,0.88+28,1+46 */
    background: -moz-linear-gradient(top,  rgba(85,87,87,0.02) 0%, rgba(75,76,76,0.02) 6%, rgba(37,37,37,0.88) 28%, rgba(5,5,5,1) 46%, rgba(0,0,0,1) 49%, rgba(5,5,5,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(85,87,87,0.02)), color-stop(6%,rgba(75,76,76,0.02)), color-stop(28%,rgba(37,37,37,0.88)), color-stop(46%,rgba(5,5,5,1)), color-stop(49%,rgba(0,0,0,1)), color-stop(100%,rgba(5,5,5,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(85,87,87,0.02) 0%,rgba(75,76,76,0.02) 6%,rgba(37,37,37,0.88) 28%,rgba(5,5,5,1) 46%,rgba(0,0,0,1) 49%,rgba(5,5,5,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(85,87,87,0.02) 0%,rgba(75,76,76,0.02) 6%,rgba(37,37,37,0.88) 28%,rgba(5,5,5,1) 46%,rgba(0,0,0,1) 49%,rgba(5,5,5,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(85,87,87,0.02) 0%,rgba(75,76,76,0.02) 6%,rgba(37,37,37,0.88) 28%,rgba(5,5,5,1) 46%,rgba(0,0,0,1) 49%,rgba(5,5,5,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(85,87,87,0.02) 0%,rgba(75,76,76,0.02) 6%,rgba(37,37,37,0.88) 28%,rgba(5,5,5,1) 46%,rgba(0,0,0,1) 49%,rgba(5,5,5,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05555757', endColorstr='#050505',GradientType=0 ); /* IE6-9 */

    left:0;
    width:100%;
    height:900px;
    color:#FFF
}
#quickIntro h3{
    margin-left:70px;
    margin-top:150px;
    font-size:30px;
}
#quickIntro p{
    width:400px;
    margin-left:70px;
    font-size:18px;
}
#quickIntro img{
    position:absolute;
    width:600px;
    left:600px;
    top:100px;
}

